
:root {
     --laranja-claro: #ebdbe9fc;
     --alto-coontraste-fundo: #0000;
     --alto-contraste-texto: #842a76fe;
     --alto-contraste-link: #790f1bfd;
}

 .menu-acessibilidade{
     position: fixed;
     top:2rem;
     right:20px;
     z-index: 1000;
 }

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-coontraste-fundo);
    color: var(--alto-contraste-texto);

}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-coontraste-fundo);
    color: var(--alto-contraste-texto);

}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);

}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-coontraste-fundo);
}

.alto-contraste #LanadelRey {
    background-color: none;

}

.alto-contraste #galeria {
    background-color: var(--alto-coontraste-fundo);
}